<p>work works!</p>

<div
  motionone
  [initial]="{
    opacity: 0,
    x: 100,
    backgroundColor: 'blue',

  }"
  [staggerChildren]="0.5"
  [staggerDirection]="0"
  [animate]="{
    opacity: 1,
    x: 0,
    transition: {
      duration: 0.8,
      delay: 0,
      staggerChildren: 0.5,
      ease: 'ease-in-out',
    },
  }"
  [exit]="{
    opacity: 1,
    x: -100,
    backgroundColor: 'green',
    transition: {
      duration: 0.6,
      ease: 'ease-in'
    }
  }"
  class="absolute top-0 left-0 w-full h-full grid grid-cols-3 grid-rows-3 gap-4"
>
  <div
    motionone
    [initial]="{
      backgroundColor: 'red',
      scale: 1,
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [animate]="{
      backgroundColor: 'aqua',
      scale: 1,
      height: '100px',
      transform: 'translateX(100px)',
    }"
    [exit]="{
      backgroundColor: 'blue',
      scale: 1,
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [duration]="1"
    class="w-10 h-10 col-span-1 row-span-1"
  >
    Hello
  </div>
  <div
    motionone
    [initial]="{
      backgroundColor: 'red',
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [animate]="{
      backgroundColor: 'aqua',
      scale: 1,
      height: '100px',
      transform: 'translateX(100px)',
    }"
    [exit]="{
      backgroundColor: 'blue',
      scale: 1,
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [duration]="1"
    class="w-10 h-10 col-span-1 row-span-1"
  >
    Hello
  </div>
  <div
    motionone
    [initial]="{
      backgroundColor: 'red',
      scale: 1,
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [animate]="{
      backgroundColor: 'aqua',
      scale: 1,
      height: '100px',
      transform: 'translateX(100px)',
    }"
    [exit]="{
      backgroundColor: 'blue',
      scale: 1,
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [duration]="1"
    class="w-10 h-10 col-span-1 row-span-1"
  >
    Hello
  </div>
</div>

<div
  motionone
  [initial]="{
    opacity: 0,
  }"
  [staggerChildren]="0.5"
  [staggerDirection]="1"
  [animate]="{
    opacity: 1,
    transition: {
      duration: 3,
      delay: 0,
      staggerChildren: 0.5,
      ease: 'ease-in-out',
    },
  }"
  class="absolute top-0 left-0 w-full h-full grid grid-cols-3 grid-rows-3 gap-4"
>
  <div
    motionone
    [initial]="{
      backgroundColor: 'red',
      scale: 1,
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [animate]="{
      backgroundColor: 'aqua',
      scale: 1,
      height: '100px',
      transform: 'translateX(100px)',
    }"
    [exit]="{
      backgroundColor: 'blue',
      scale: 1,
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [duration]="1"
    class="w-10 h-10 col-span-1 row-span-1"
  >
    Hello
  </div>
  <div
    motionone
    [initial]="{
      backgroundColor: 'red',
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [exit]="{
      backgroundColor: 'blue',
      scale: 1,
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [animate]="{
      backgroundColor: 'aqua',
      scale: 1,
      height: '100px',
      transform: 'translateX(100px)',
    }"
    [duration]="1"
    class="w-10 h-10 col-span-1 row-span-1"
  >
    Hello
  </div>
  <div
    motionone
    [initial]="{
      backgroundColor: 'red',
      scale: 1,
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [animate]="{
      backgroundColor: 'aqua',
      scale: 1,
      height: '100px',
      transform: 'translateX(100px)',
    }"
    [exit]="{
      backgroundColor: 'blue',
      scale: 1,
      height: '50px',
      transform: 'translateX(0px)',
    }"
    [duration]="1"
    class="w-10 h-10 col-span-1 row-span-1"
  >
    Hello
  </div>
</div>
