<div
  motionone
  [initial]="{
    opacity: 1,
    scale: 0.8,
    backgroundColor: 'green'
  }"
  [animate]="{
    opacity: 1,
    scale: 1,
    backgroundColor: 'hotpink',
    transition: {
      duration: 4,
      ease: 'ease-in'
    }
  }"
  [exit]="{
    opacity: 0,
    scale: 1.2,
    backgroundColor: 'red',
    transition: {
      duration: 0.5,
      ease: 'ease-in'
    }
  }"
  class="absolute top-0 left-0 w-full h-full grid grid-cols-3 grid-rows-3 gap-4"
>
  <h1 class="text-white text-3xl">Play</h1>
</div>
